body {
    background-color: #9CAF88;
}

#title {
    text-align: center;
    font-size: 100px;
    margin: 0px;
}

#headshot {
    width: 250px;
    float: right;
}

.border {
    border: 3px solid black;
    border-radius: 10px;

    padding: 0px 20px 10px 20px;
    margin: 20px;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-box {
    border: 3px solid black;
    border-radius: 10px;

    padding: 0px 20px 10px 20px;
    margin: 5px;
    width: 25%;
    /*height: 600px;*/
}

.white {
    background-color: rgb(209, 209, 209);
}
.orange {
    background-color: #e8aa74;
}
.yellow {
    background-color: #f2dda2;
}
.green {
    background-color: #81de77;
}

.project-box h2 {
    text-align: center;
}
.project-box img {
    width: 100%;
    border: 3px solid black;
}

@media (min-width: 1200px) {
    .project-box {
        width: 28%;
    }
}

@media (max-width: 800px) {
    #title {
        font-size: 65px;
    }

    #headshot {
        width: 40%;
        float: none;
    }

    #projects {
        display: block;
    }

    .project-box {
        width: 80%;
    }
}